* {
  box-sizing: border-box;
}

.container {
  background-color: lightblue;
  min-height: 60vh;
  display: grid;
  /* grid-template-columns: repeat(auto-fill, 100px); */
  /* grid-template-columns: repeat(6, minmax(100px, 1fr)); */
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  /* grid-template-columns: repeat(4, 100px);
  grid-template-rows: repeat(4, 100px); */
  /* grid-template: repeat(4, 100px) / repeat(6, 100px); */
  /* grid-auto-flow: row; */
  /* grid-auto-flow: column; */
  /* grid-auto-flow: row dense; */
  grid-auto-columns: 100px;
  grid-auto-rows: 100px;
  /* align-items: center; */
  /* justify-content: center; */
  /* justify-items: center; */
  text-align: center;
}

.box {
  color: white;
  font-size: 4rem;
  padding: 1rem;
}

.box-1 {
  background-color: green;
  height: 100px;
  /* grid-column-start: 4; 
  grid-column-end: 4;*/
  /* grid-column: 3 / 5; */
  /* grid-row-start: 2;
  grid-row-end: 4; */
  /* grid-row: 2 / 4; */
}

.box-2 {
  background-color: blueviolet;
}

.box-3 {
  background-color: blue;
}

.box-4 {
  background-color: brown;
}

.box-5 {
  background-color: coral;
 
}

.box-6 {
  background-color: darkblue;
}

.box-7 {
  background-color: darkred;
}

.box-8 {
  background-color: darkslategray;
}

.box-9 {
  background-color: gray;
}

.box-10 {
  background-color: blueviolet;
}
