body {
    box-sizing: border-box;
    background-color: #DECDAC;
    margin: 0;
    font-family: 'Inika', sans-serif;
}

.popup-container {
    width: 480px;
    height: 280px;
    background-color: #FEFAF3;
    border-radius: 32px;
    padding: 8px;
    position: fixed;
    margin: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 5px 4px 2px rgba(0, 0, 0, 0.3);
}

.get-newsletter {
    background-color: #EBBF53;
    border: 1px solid #EBBF53;
    border-radius: 30px;
    width: 280px;
    height: 64px;
    font-size: 24px;
    font-weight: 300;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    box-shadow: 0 5px 4px 2px rgba(0, 0, 0, 0.3);
    color: #FEFAF3;
}

.cursor-hand-icon {
    position: absolute;
    top: 210px;
    right: 40px;
}

.popup {
    display: none;
}   

.popup.popup-open {
    display: block;
    width: 600px;
    height: 300px;
    background-color: #FEFAF3;
    border-radius: 32px;
    padding: 8px;
    position: fixed;
    margin: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 5px 4px 2px rgba(0, 0, 0, 0.3);
    transition: all 0.2s ease-in-out;
}   
 
.close-icon {
    color: #AFA187;
    font-size: 48px;
    font-weight: 300;
    position: absolute;
    right: 16px;
    cursor: pointer;
    font-family: sans-serif;
}

/* .overlay {
    position: fixed;
    inset: 0;
    /* display: none; */
    /* background-color: rgba(0, 0, 0, 0.5);
} */

/* .popup-open .overlay {
    display: block; */
/* } */

input {
    background-color: #EEE8DD;
    width: 80%;
    height: 40px;
    border-radius: 28px;
    border: 1px solid #AFA187;
    font-size: 18px;
    padding: 8px;
    position: absolute;
    top: 220px;
    left: 50%;
    transform: translateX(-50%);
}

input::placeholder {
    color: #AFA187;
    font-size: 16px;
    padding-left: 18px;
}

.cactus-icon {
    position: relative;
    top: -60px;
    float: left;
    margin: 28px;
}

h2 {
    font-size: 36px;
    font-weight: 400;
    margin-inline: 30px;
    margin-top: 60px;
    margin-bottom: 8px;
}

p {
    font-size: 20px;
    margin-right: 18px;
    margin-top: 0;
}

.submit-btn {
    background-color: #EBBF53;
    color: #FEFAF3;
    border: 1px solid #EBBF53;
    width: 30%;
    height: 58px;
    border-top-left-radius: 0px;
    border-top-right-radius: 28px;
    border-bottom-right-radius: 28px;
    border-bottom-left-radius: 0px;
    font-size: 18px;
    padding: 8px;
    position: absolute;
    top: 220px;
    left: 65%;
    cursor: pointer;
}

@media (width <= 640px) {
    .popup-container {
        width: 90%;
        display: flex;
    }
    .popup.popup-open {
        width: 90%;
    }
    .cactus-icon {
        display: none;
        /* top: 40px;
        float: left;
        margin: 10px;
        width: 40%; */
    }
    input::placeholder {
        width: 65%;
        font-size: 12px;
    }
    .submit-btn {
        width: 35%;
        left: 60%;
        font-size: 12px;
    }
    h2 {
        font-size: 28px;
        margin-inline: 16px;
        margin-top: 80px;
        margin-bottom: 8px;
    }
    p {
        font-size: 16px;
        margin-inline: 16px;
    }
}