body {
    margin: 0;
    font-family: 'Lexend Deca', sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
    display: inline-block;
}

main {
    min-height: 100vh;
    display: flex;
    /* padding: 1.5rem; */
    align-items: center;
    justify-content: center;
}

.card-container {
    color: rgb(236, 242, 248);
    /* padding: 1rem; */
    margin: 1.5rem;
    display: flex;
    border-radius: 10px;
    overflow: hidden;
    max-width: 910px;
    /* margin-inline: auto; */
    /* margin-top: auto; */
}

.card {
    padding: 3rem;
    display: flex;
    flex-direction: column;
    /* width: 100%; */
    flex-basis: 100%;
}

.card img {
    width: 64px;
    height: 40px;
    /* margin-bottom: 2rem; */
}

.card h2 {
    text-transform: uppercase;
    font-family: 'Big Shoulders', sans-serif;
    font-size: 2.5rem;
}

.card p {
    opacity: 0.75;
    line-height: 1.75;
    margin-bottom: 2rem;
}

.card a {
    border: 2px solid white;
    padding: 0.5rem 1rem;
    border-radius: 2em;
    margin-top: auto;
    /* margin-right: auto; */
    align-self: flex-start;
}

.sedan {
    background-color: hsl(31, 77%, 52%);
    /* border-radius: 10px 10px 0 0; */
}

.suv {
    background-color: hsl(184, 100%, 22%);
}

.luxury {
    background-color: hsl(179, 100%, 13%);
    /* border-radius: 0 0 10px 10px; */
}   

@media (max-width: 850px) {
    .card-container {
        flex-direction: column;
        max-width: 400px;
    }

    .card {
        width: unset;
        width: auto;
    }

}