/* #html.html {
  background-color: deeppink;
}

#html {
  background-color: mediumorchid;
} 

.html {
  background-color: lightgrey;
}

li {
  background-color: lightblue;
  color:brown
}

li {
 background-color: lightpink;
}

li {
 background-color: lightgreen;
 color: blue;
}

.html {
  background-color: orangered;
} */